.card-timeline {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  .customized-timeline {
    max-width: 80%;
    .p-timeline-event:nth-child(1)  {
      display: none;
    }
  }
  .custom-marker {
    display: flex;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 50%;
    z-index: 1;
  }
  .p-timeline-event-content,
  .p-timeline-event-opposite {
    line-height: 1;
  }

  .p-timeline-event {
    padding: 2rem 0 2rem 0;
  }

  .p-timeline-event-connector {
    position: absolute;
    height: 100%;
  }

  .p-card-body {
    width: 100%;
    padding-top: 0;
  }
  .p-card-content {
    padding-top: 0;
    padding-bottom: 0;
  }
  .p-card-title {
    display: none;
  }
  .p-card-subtitle {
    display: none;
  }
}

.section-heading {
  //border-bottom: 5px solid var(--primary-color);
  //border-top: 5px solid var(--primary-color);
  margin-bottom: 2rem;
}


@media screen and (max-width: 1200px) {
  .card-timeline .customized-timeline {
    max-width: 90%;
  }
}

@media screen and (max-width: 960px) {

  .card-timeline .customized-timeline {
    margin-right: 0.5rem;
    .p-timeline-event:nth-child(even) {
      flex-direction: row !important;
    }

    .p-timeline-event:nth-child(even) .p-timeline-event-content {
      text-align: left !important;
    }

    .p-timeline-event {
      padding: 0;
    }

    .p-timeline-event-opposite,
    .p-timeline-event-separator {
      display: none;
    }
    .p-timeline-event-content {
      margin-top: 2rem;
      padding: 0;
    }
  }
}