#contact {
  margin-right: 1rem;
  margin-left: 1rem;
}

.social-buttons {
  margin-top: 2rem;
}

.social-buttons .p-button {
  height: 2rem;
  width: 2rem;
}

.social-buttons span {
  display: inline-block;
  text-align: center;
}