.education-timeline {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
  .customized-timeline {
    max-width: 80%;
  }
}

.iit-extras .p-chip {
  flex-direction: row-reverse;
}

.iit-extras .p-chip-icon {
  margin-left: 0.5rem;
}

.education-timeline .custom-marker {
  display: flex;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border-radius: 50%;
  z-index: 1;
}

.iit-extras .p-tabview-ink-bar {
  display: none !important;
}

.education-timeline .p-timeline-event-content,
.education-timeline .p-timeline-event-opposite {
  line-height: 1;
}

.education-timeline .p-card-body {
  width: 100%;
  padding-top: 0;
}

.education-timeline .p-card-content {
  padding-top: 0;
  padding-bottom: 0;
}

.education-timeline .p-card-title {
  display: none;
}

.education-timeline .p-card-subtitle {
  display: none;
}

li {
  padding-top: 0.5rem;
}

@media screen and (max-width: 960px) {

  .education-timeline .customized-timeline .p-timeline-event:nth-child(even) {
    flex-direction: row !important;
  }

  .education-timeline {
    justify-content: start;
  }

  .customized-timeline {
    max-width: 100vw !important;
    margin-right: 1rem;
  }

  .education-timeline .customized-timeline .p-timeline-event:nth-child(even) .p-timeline-event-content {
    text-align: left !important;
  }
  .education-timeline .customized-timeline .p-timeline-event-opposite {
    flex: 0;
    padding-left: 0 !important;
  }
  .education-timeline .customized-timeline .p-timeline-event-separator {
    margin-top: 1rem;
  }

  .education-timeline .customized-timeline .p-card {
    margin-top: 1rem;
  }
}