.home-section {
  position: relative;
  overflow: hidden; //added for pseudo-element

  //fixed-position background image
  &::before {
    background-color: white;
    background-image: url('../assets/home/home_background.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.7;
    z-index: -3;
    content: " ";
    position: fixed;
    will-change: transform;
    width: 100%;
    height: 100%;
  }
}

.home-card {
  box-shadow: none;
}