@import "./_variables.scss";

.element {
  background-color: var(--surface-card);
  z-index: -1;
  -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 80% 100%);
  clip-path: polygon(0 100%, 0 0, 100% 0, 80% 100%);
  -webkit-clip-path: url("#clip-shape");
  clip-path: url("#clip-shape");
}

.home-section .home-card {
  background-color: var(--surface-card);
  @media screen and (max-width: $lg) {
    background-color: var(--surface-ground);
  }
}

.home-card #my-image img {
  background-color: var(--surface-ground);
  @media screen and (max-width: $lg) {
    background-color: var(--surface-card);
  }
}