.home-extras .template .p-button i {
  line-height: 3.25rem;
}
.home-extras .template .p-button.google {
  background: linear-gradient(to left, var(--bluegray-700) 50%, var(--bluegray-800) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.5s ease-out;
  color: #fff;
  border-color: var(--bluegray-800);
}
.home-extras .template .p-button.google:hover {
  background-position: left bottom;
}
.home-extras .template .p-button.google i {
  background-color: var(--bluegray-800);
}
.home-extras .template .p-button.google:focus {
  box-shadow: 0 0 0 1px var(--bluegray-500);
}

.home-section {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100%;
  position: relative;
  overflow: hidden; //added for pseudo-element

  //fixed-position background image
  &::before {
    background-image: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.4)), url('../assets/home_background.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    content: '';
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    will-change: transform;
    z-index: -1;
  }
}

.education-section {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100%;
  position: relative;
  overflow: hidden; //added for pseudo-element

  //fixed-position background image
  &::before {
    background-image: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.4)), url('../assets/home_background.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    content: '';
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    will-change: transform;
    z-index: -1;
  }
}