.projects-dataview .p-dataview-content,
.item-dialog {
  background-color: transparent !important;
  line-height: 1.5;
}

.projects-dataview,
.item-dialog li:not(:last-child) {
  margin-bottom: 0.5rem;
}

.item-dialog .p-dialog-header, .p-dialog-content {
  background: var(--surface-ground) !important;
}

.projects-dataview .p-grid {
  justify-content: center;
}

.projects-dataview .item-card {
  .p-card-content {
    padding: 0;
  }
  transition: transform 0.2s ease-in-out;
  @media (prefers-reduced-motion: no-preference) {
    &:hover,
    &:focus-within {
      transform: scale(1.05);
      background-color: var(--surface-d) !important;
    }
  }
}