@import "primereact/resources/primereact.min.css";
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";

html {
  font-size: 1rem;
  height: 100%;
}

body {
  font-family: var(--font-family);
  background-color: var(--surface-ground);
  color: var(--text-color);
  padding: 0;
  margin: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-clip: content-box;
  border: 4px solid transparent;
  border-radius: 7px;
  background-color: var(--primary-color);

  &:hover {
    background-color: var(--primary-color);
  }
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

.main-content {
  background-color: var(--surface-ground);
}